/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "variables" as v;

:root {
  --global-bg-color: #{v.$white-color};
  --global-text-color: #{v.$black-color};
  --global-theme-color: #{v.$purple-color};
  --global-hover-color: #{v.$light-purple-color};
  --global-footer-bg-color: #{v.$grey-color-dark};
  --global-footer-text-color: #{v.$grey-color-light};
  --global-footer-link-color: #{v.$white-color};
  --global-icon-color: #{v.$grey-color-dark};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{v.$grey-color-dark};
  --global-text-color: #{v.$grey-color-light};
  --global-theme-color: #{v.$cyan-color};
  --global-hover-color: #{v.$light-cyan-color};
  --global-footer-bg-color: #{v.$grey-color-light};
  --global-footer-text-color: #{v.$grey-color-dark};
  --global-footer-link-color: #{v.$black-color};
  --global-icon-color: navajowhite;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
